// Color
// @import "~materialize-css/sass/components/color-variables";
// @import "~materialize-css/sass/components/color-classes";

// Variables;
// @import "~materialize-css/sass/components/variables";

// Reset
// @import "~materialize-css/sass/components/normalize";

// Grid
// @import "~materialize-css/sass/components/_grid";

$material-icons-font-path: '~material-icons/iconfont/';
@import "~materialize-css/sass/materialize";
@import '~material-icons/iconfont/material-icons.scss';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
